body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
  }
  #main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  #title {
    text-align: center;
    margin-bottom: 20px;
  }
  h2 {
    text-align: center;
  }
  
  #img-div {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 50px; 
  }
  
  #img-caption {
    margin-top: 10px;
    font-style: italic;
  }
  
  .imagem{
    max-width: 200px; 
      max-height: 300px; 
      width: auto; 
      height: auto;
  }
  
  #tribute-info {
    text-align: justify;
  }
  
  #tribute-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: gray;
  }
  
  #tribute-link:hover {
    color: gray;
  }